/* comentario en scss y css*/
/*Reset*/
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #333333;
  margin-top: 5rem; }

h1, h2 {
  color: #f4f4f4;
  font-family: 'Comfortaa', cursive;
  text-align: center; }

a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none; }

li {
  color: #f4f4f4; }

img {
  border-radius: 10px; }

/*Index menu*/
.cabezera {
  background-image: url(../img/Copia-santana.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90px;
  background-color: rgba(232, 232, 231, 0.91);
  position: sticky; }

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5rem;
  margin: 2rem; }
  .menu li {
    text-decoration: none;
    font-size: 12px; }
    .menu li a {
      color: #f4f4f4; }

#inicio {
  position: relative;
  background-size: 170px;
  padding-top: 70px;
  background-position-y: 40px;
  background-color: #333333; }

.button-rem {
  background-color: rgba(152, 24, 20, 0.6);
  border: #131513 solid 1.5px;
  border-radius: 12px;
  color: #f4f4f4;
  padding: 1rem;
  text-align: center; }

.seccion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #981914;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem; }

.cat-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 17px; }

.cat {
  height: 100%;
  width: 100%;
  border-radius: 5px; }

.preview-Rop div img {
  height: 110%;
  width: 100%; }

.ropa-top {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.ropa1 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin: 100px; }

/* Nosotros */
.nosgrid {
  display: grid;
  grid-template-areas: "header" "nosotros" "footer";
  grid-column: auto;
  grid-row: auto; }

header {
  grid-area: header; }

.cont-nos {
  grid-area: nosotros; }

footer {
  grid-area: footer; }

.cont-nos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem; }
  .cont-nos .nos-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #981914;
    padding: 3rem;
    border-radius: 15px;
    align-items: center; }
  .cont-nos .nos-2 {
    padding: 100px;
    background-color: #f4f4f4;
    border-radius: 25px; }

/*Mayorista*/
.may-tit {
  background-color: #f4f4f4;
  padding: 1rem;
  margin-top: 1.5rem; }
  .may-tit h1 {
    color: #333333; }

.may-exp {
  text-align: center;
  color: #f4f4f4;
  margin: 1rem;
  padding: 2rem; }

.infoymaps {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.info-maps {
  background-color: #981914;
  text-align: center;
  padding: 5rem;
  border: 5px; }

.info-maps h2 {
  font-size: 1rem;
  margin-top: 0.5rem; }

iframe {
  width: 800px;
  height: 400px;
  object-fit: cover; }

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #f4f4f4;
  padding: 5rem;
  margin-left: 7rem;
  margin-right: 7rem; }
  form legend {
    text-align: center; }

input,
textarea {
  margin: 5px;
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 15px;
  text-align: center; }

/*Catalogo */
.cata {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(4, 1fr);
  grid-gap: 60px 40px;
  margin: 3rem; }
  .cata div img {
    border-radius: 20px; }

.fts-rem {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.remeras {
  margin-top: 2rem; }

/*Faqs*/
.faqs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #981914;
  margin: 3rem;
  margin-top: 8rem;
  padding: 4rem; }

.respuesta {
  margin-bottom: 50px; }

@media (min-width: 1024px) {
  h1, h2 {
    font-size: 30px; }
  /*Inicio*/
  .catgrid {
    display: grid;
    grid-template-areas: "cat1 cat2 cat3";
    grid-template-rows: auto;
    grid-template-columns: 15rem 15rem 15rem;
    margin-top: 1rem;
    justify-content: center; }
  .cat1 {
    grid-area: cat1; }
  .cat2 {
    grid-area: cat2; }
  .cat3 {
    grid-area: cat3; }
  .cat {
    border-radius: 15px; }
  .button {
    background: rgba(244, 244, 244, 0.5);
    padding: 1.5rem;
    height: 1.5rem;
    border-radius: 1rem; }
  .cat-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 17px; }
  .preview-Rop {
    display: grid;
    grid-template: repeat(4, 1fr)/repeat(4, 1fr);
    grid-gap: 10px 1px; }
  /*Nosotros*/
  .cont-nos {
    display: grid;
    padding: 3rem;
    grid-template-areas: "tit-nos text-nos";
    grid-template-columns: auto;
    grid-template-rows: auto; }
  .nos-1 {
    grid-area: tit-nos;
    margin-right: 10%;
    rotate: 270deg; }
  .nos-2 {
    grid-area: text-nos; }
  /*Mayorista*/
  .infoymaps {
    display: grid;
    grid-template-areas: "info maps";
    grid-template-columns: auto;
    grid-template-rows: auto; }
  .maps {
    grid-area: maps; }
  .info-maps {
    grid-area: info; } }

/*Reset*/
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #333333;
  margin-top: 5rem; }

h1, h2 {
  color: #f4f4f4;
  font-family: 'Comfortaa', cursive;
  text-align: center; }

a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none; }

li {
  color: #f4f4f4; }

img {
  border-radius: 10px; }

/*Index menu*/
.cabezera {
  background-image: url(../img/Copia-santana.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90px;
  background-color: rgba(232, 232, 231, 0.91);
  position: sticky; }

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5rem;
  margin: 2rem; }
  .menu li {
    text-decoration: none;
    font-size: 12px; }
    .menu li a {
      color: #f4f4f4; }

#inicio {
  position: relative;
  background-size: 170px;
  padding-top: 70px;
  background-position-y: 40px;
  background-color: #333333; }

.button-rem {
  background-color: rgba(152, 24, 20, 0.6);
  border: #131513 solid 1.5px;
  border-radius: 12px;
  color: #f4f4f4;
  padding: 1rem;
  text-align: center; }

.seccion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #981914;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem; }

.cat-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 17px; }

.cat {
  height: 100%;
  width: 100%;
  border-radius: 5px; }

.preview-Rop div img {
  height: 110%;
  width: 100%; }

.ropa-top {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.ropa1 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin: 100px; }

/* Nosotros */
.nosgrid {
  display: grid;
  grid-template-areas: "header" "nosotros" "footer";
  grid-column: auto;
  grid-row: auto; }

header {
  grid-area: header; }

.cont-nos {
  grid-area: nosotros; }

footer {
  grid-area: footer; }

.cont-nos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem; }
  .cont-nos .nos-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #981914;
    padding: 3rem;
    border-radius: 15px;
    align-items: center; }
  .cont-nos .nos-2 {
    padding: 100px;
    background-color: #f4f4f4;
    border-radius: 25px; }

/*Mayorista*/
.may-tit {
  background-color: #f4f4f4;
  padding: 1rem;
  margin-top: 1.5rem; }
  .may-tit h1 {
    color: #333333; }

.may-exp {
  text-align: center;
  color: #f4f4f4;
  margin: 1rem;
  padding: 2rem; }

.infoymaps {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.info-maps {
  background-color: #981914;
  text-align: center;
  padding: 5rem;
  border: 5px; }

.info-maps h2 {
  font-size: 1rem;
  margin-top: 0.5rem; }

iframe {
  width: 800px;
  height: 400px;
  object-fit: cover; }

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #f4f4f4;
  padding: 5rem;
  margin-left: 7rem;
  margin-right: 7rem; }
  form legend {
    text-align: center; }

input,
textarea {
  margin: 5px;
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 15px;
  text-align: center; }

/*Catalogo */
.cata {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(4, 1fr);
  grid-gap: 60px 40px;
  margin: 3rem; }
  .cata div img {
    border-radius: 20px; }

.fts-rem {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.remeras {
  margin-top: 2rem; }

/*Faqs*/
.faqs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #981914;
  margin: 3rem;
  margin-top: 8rem;
  padding: 4rem; }

.respuesta {
  margin-bottom: 50px; }

footer {
  background-color: #981914;
  position: relative; }
  footer .redes {
    display: flex;
    flex-direction: row;
    justify-content: end; }
  footer a img {
    width: 35px;
    padding: 5px; }

/*Reset*/
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #333333;
  margin-top: 5rem; }

h1, h2 {
  color: #f4f4f4;
  font-family: 'Comfortaa', cursive;
  text-align: center; }

a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none; }

li {
  color: #f4f4f4; }

img {
  border-radius: 10px; }

/*Index menu*/
.cabezera {
  background-image: url(../img/Copia-santana.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90px;
  background-color: rgba(232, 232, 231, 0.91);
  position: sticky; }

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5rem;
  margin: 2rem; }
  .menu li {
    text-decoration: none;
    font-size: 12px; }
    .menu li a {
      color: #f4f4f4; }

#inicio {
  position: relative;
  background-size: 170px;
  padding-top: 70px;
  background-position-y: 40px;
  background-color: #333333; }

.button-rem {
  background-color: rgba(152, 24, 20, 0.6);
  border: #131513 solid 1.5px;
  border-radius: 12px;
  color: #f4f4f4;
  padding: 1rem;
  text-align: center; }

.seccion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #981914;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem; }

.cat-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 17px; }

.cat {
  height: 100%;
  width: 100%;
  border-radius: 5px; }

.preview-Rop div img {
  height: 110%;
  width: 100%; }

.ropa-top {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.ropa1 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin: 100px; }

/* Nosotros */
.nosgrid {
  display: grid;
  grid-template-areas: "header" "nosotros" "footer";
  grid-column: auto;
  grid-row: auto; }

header {
  grid-area: header; }

.cont-nos {
  grid-area: nosotros; }

footer {
  grid-area: footer; }

.cont-nos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem; }
  .cont-nos .nos-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #981914;
    padding: 3rem;
    border-radius: 15px;
    align-items: center; }
  .cont-nos .nos-2 {
    padding: 100px;
    background-color: #f4f4f4;
    border-radius: 25px; }

/*Mayorista*/
.may-tit {
  background-color: #f4f4f4;
  padding: 1rem;
  margin-top: 1.5rem; }
  .may-tit h1 {
    color: #333333; }

.may-exp {
  text-align: center;
  color: #f4f4f4;
  margin: 1rem;
  padding: 2rem; }

.infoymaps {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.info-maps {
  background-color: #981914;
  text-align: center;
  padding: 5rem;
  border: 5px; }

.info-maps h2 {
  font-size: 1rem;
  margin-top: 0.5rem; }

iframe {
  width: 800px;
  height: 400px;
  object-fit: cover; }

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #f4f4f4;
  padding: 5rem;
  margin-left: 7rem;
  margin-right: 7rem; }
  form legend {
    text-align: center; }

input,
textarea {
  margin: 5px;
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 15px;
  text-align: center; }

/*Catalogo */
.cata {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(4, 1fr);
  grid-gap: 60px 40px;
  margin: 3rem; }
  .cata div img {
    border-radius: 20px; }

.fts-rem {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.remeras {
  margin-top: 2rem; }

/*Faqs*/
.faqs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #981914;
  margin: 3rem;
  margin-top: 8rem;
  padding: 4rem; }

.respuesta {
  margin-bottom: 50px; }

/*Reset*/
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #333333;
  margin-top: 5rem; }

h1, h2 {
  color: #f4f4f4;
  font-family: 'Comfortaa', cursive;
  text-align: center; }

a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none; }

li {
  color: #f4f4f4; }

img {
  border-radius: 10px; }

/*Index menu*/
.cabezera {
  background-image: url(../img/Copia-santana.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90px;
  background-color: rgba(232, 232, 231, 0.91);
  position: sticky; }

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5rem;
  margin: 2rem; }
  .menu li {
    text-decoration: none;
    font-size: 12px; }
    .menu li a {
      color: #f4f4f4; }

#inicio {
  position: relative;
  background-size: 170px;
  padding-top: 70px;
  background-position-y: 40px;
  background-color: #333333; }

.button-rem {
  background-color: rgba(152, 24, 20, 0.6);
  border: #131513 solid 1.5px;
  border-radius: 12px;
  color: #f4f4f4;
  padding: 1rem;
  text-align: center; }

.seccion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #981914;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem; }

.cat-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 17px; }

.cat {
  height: 100%;
  width: 100%;
  border-radius: 5px; }

.preview-Rop div img {
  height: 110%;
  width: 100%; }

.ropa-top {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.ropa1 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin: 100px; }

/* Nosotros */
.nosgrid {
  display: grid;
  grid-template-areas: "header" "nosotros" "footer";
  grid-column: auto;
  grid-row: auto; }

header {
  grid-area: header; }

.cont-nos {
  grid-area: nosotros; }

footer {
  grid-area: footer; }

.cont-nos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem; }
  .cont-nos .nos-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #981914;
    padding: 3rem;
    border-radius: 15px;
    align-items: center; }
  .cont-nos .nos-2 {
    padding: 100px;
    background-color: #f4f4f4;
    border-radius: 25px; }

/*Mayorista*/
.may-tit {
  background-color: #f4f4f4;
  padding: 1rem;
  margin-top: 1.5rem; }
  .may-tit h1 {
    color: #333333; }

.may-exp {
  text-align: center;
  color: #f4f4f4;
  margin: 1rem;
  padding: 2rem; }

.infoymaps {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.info-maps {
  background-color: #981914;
  text-align: center;
  padding: 5rem;
  border: 5px; }

.info-maps h2 {
  font-size: 1rem;
  margin-top: 0.5rem; }

iframe {
  width: 800px;
  height: 400px;
  object-fit: cover; }

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #f4f4f4;
  padding: 5rem;
  margin-left: 7rem;
  margin-right: 7rem; }
  form legend {
    text-align: center; }

input,
textarea {
  margin: 5px;
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 15px;
  text-align: center; }

/*Catalogo */
.cata {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(4, 1fr);
  grid-gap: 60px 40px;
  margin: 3rem; }
  .cata div img {
    border-radius: 20px; }

.fts-rem {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.remeras {
  margin-top: 2rem; }

/*Faqs*/
.faqs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #981914;
  margin: 3rem;
  margin-top: 8rem;
  padding: 4rem; }

.respuesta {
  margin-bottom: 50px; }

@media (min-width: 1024px) {
  h1, h2 {
    font-size: 30px; }
  /*Inicio*/
  .catgrid {
    display: grid;
    grid-template-areas: "cat1 cat2 cat3";
    grid-template-rows: auto;
    grid-template-columns: 15rem 15rem 15rem;
    margin-top: 1rem;
    justify-content: center; }
  .cat1 {
    grid-area: cat1; }
  .cat2 {
    grid-area: cat2; }
  .cat3 {
    grid-area: cat3; }
  .cat {
    border-radius: 15px; }
  .button {
    background: rgba(244, 244, 244, 0.5);
    padding: 1.5rem;
    height: 1.5rem;
    border-radius: 1rem; }
  .cat-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 17px; }
  .preview-Rop {
    display: grid;
    grid-template: repeat(4, 1fr)/repeat(4, 1fr);
    grid-gap: 10px 1px; }
  /*Nosotros*/
  .cont-nos {
    display: grid;
    padding: 3rem;
    grid-template-areas: "tit-nos text-nos";
    grid-template-columns: auto;
    grid-template-rows: auto; }
  .nos-1 {
    grid-area: tit-nos;
    margin-right: 10%;
    rotate: 270deg; }
  .nos-2 {
    grid-area: text-nos; }
  /*Mayorista*/
  .infoymaps {
    display: grid;
    grid-template-areas: "info maps";
    grid-template-columns: auto;
    grid-template-rows: auto; }
  .maps {
    grid-area: maps; }
  .info-maps {
    grid-area: info; } }

@media (max-width: 768px) {
  a, p, li, label, input {
    font-size: 10px; }
  h1, h2, legend {
    font-size: 12px; }
  /*inicio*/
  .ropa-top {
    grid-template-columns: repeat(3, 1fr);
    display: block;
    padding: 1rem; }
  .ropa1 {
    grid-row: span3; }
  .ropa-top div img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .cat-bottom {
    align-items: center;
    padding: 17px;
    position: relative; }
  .cat {
    height: 50%;
    width: 50%;
    border-radius: 10px; }
  .button {
    background-color: rgba(232, 232, 231, 0.91);
    position: absolute;
    padding: 1.5rem;
    height: 1.5rem;
    border-radius: 1rem; }
  .preview-Rop {
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(2, 1fr);
    grid-gap: 100px 20px;
    margin: 1,5rem; }
  .ropa-top div img {
    height: 50%;
    width: 50%; }
  /*Nosotros*/
  .cont-nos {
    display: grid;
    padding: 3%;
    grid-template-areas: "tit-nos"  "text-nos";
    grid-template-columns: auto;
    grid-template-rows: auto; }
  .nos-1 {
    margin-bottom: 10%;
    padding: 1rem; }
  /*Mayorista*/
  .infoymaps {
    display: grid;
    grid-template-areas: "info"  "maps";
    grid-template-columns: auto;
    grid-template-rows: auto; }
  .info-maps {
    background-color: #981914;
    text-align: center;
    padding: 1,5rem; }
  iframe {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  form {
    margin-left: 2rem;
    margin-right: 2rem; }
  /*Catalogo*/
  .cata {
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(2, 1fr);
    grid-gap: 100px 20px;
    margin: 1,5rem; }
  .fts-rem {
    width: 155px;
    height: 90px; }
  .button-rem {
    padding: 3px; }
  .remeras {
    margin-top: 110px; } }
