@import"../scss/variable";
@import"../scss/general";
@import"../scss/extend";

@media (min-width: 1024px) {
    h1,h2{
        font-size: 30px;
    }

    /*Inicio*/
    .catgrid{
        display: grid;
        grid-template-areas: "cat1 cat2 cat3";
        grid-template-rows: auto;
        grid-template-columns: 15rem 15rem 15rem;
        margin-top: 1rem;
        justify-content: center;
    }
    .cat1{
        grid-area: cat1;
    }
    .cat2{
        grid-area: cat2;
    }
    .cat3{
        grid-area: cat3;
    }
    .cat{
        border-radius: 15px;
    }
    .button{
        background: $gris-humo;
    }
    .cat-bottom{
        @include flex-colum-around;
        align-items: center;
        padding: 17px;
    }
    .preview-Rop{
        display: grid;
        grid-template: repeat(1, 1fr) / repeat(4, 1fr) ;
        grid-gap: 10px 1px;
    }
    
    /*Nosotros*/
    .cont-nos{
        display: grid;
        padding: 3rem;
        grid-template-areas: 
        "tit-nos text-nos";
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    .nos-1{
        grid-area: tit-nos;
        margin-right: 10%;
        rotate: 270deg;
    }
    .nos-2{
        grid-area: text-nos;
    }

    /*Mayorista*/
    .infoymaps{
        display: grid;
        grid-template-areas: 
        "info maps";
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    .maps{
        grid-area: maps;
    }
    .info-maps{
        grid-area: info;
    }

    /*FAQS*/
    .faqs div h2{
        font-size: 20px;

    }
}