@import"../scss/variable";
@import"../scss/general";
@import"../scss/desktop";
@import"../scss/extend";


@media (max-width: 768px){
    a,p,li,label,input{
        font-size: 10px;
    }
    h1,h2,legend{
        font-size: 12px;
    }
    
    /*inicio*/  
    .ropa-top{
        grid-template-columns: repeat(3,1fr);
        display: block;
        padding: 1rem;
    }
    .ropa1{
        padding: 5PX;
        border-radius: 15px;
    }
    .ropa-top div img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .cat-bottom{
        align-items: center;
        padding: 17px;
        position: relative;
    }

    .cat{
        height: 50%;
        width: 50%;
        border-radius: 10px;
    }
    .button{
        background-color: $blanco-tra;
        position: absolute;
    }
    .preview-Rop{
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        grid-gap: 100px 20px;
        margin: 1,5rem;  
    }
    .ropa-top div img{
        height: 50%;
        width: 50%;   
    }

    /*Nosotros*/
    .cont-nos{
        display: grid;
        padding: 3%;
        grid-template-areas: 
        "tit-nos" 
        "text-nos";
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    .nos-1{
        margin-bottom: 10%;
        padding: 1rem;
    }

    /*Mayorista*/
    .infoymaps{
        display: grid;
        grid-template-areas: 
        "info" 
        "maps";
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    .info-maps{
        background-color: #981914;
        text-align: center;
        padding: 1,5rem;
    }
    iframe{
        width: 100%;
        height: 100%;
        object-fit: cover
    }
    form{
        margin-left: 2rem;
        margin-right: 2rem;
    }
    
    /*Catalogo*/
    .cata{
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        grid-gap: 70px 18px;
        margin: 1rem;
           
    }
    .fts-rem{
        align-items: center;
    }
    .button-rem{
        padding: 3px;
    }
    .remeras{
        margin-top: 110px;
    }
    
    /*Faqs*/
    .faqs{
        display: grid;
        grid-template-areas: 
        "cont1 cont2"
        "cont3 cont4"
        ;
        grid-template-rows: auto;
        grid-template-columns: repeat(2, 13.5rem);
        justify-content: center;
        margin-top:7rem;
        margin-bottom: 0.5rem;
        grid-gap: 55px 20px;
    }
}